#index-cover{height: 600px !important;}
.top-img{height: 355px;overflow-y:hidden !important;}
.rounded-circle{height: 325px;width: 355px;overflow: hidden;}
.classify-goods{overflow: hidden !important;height: 256px !important;}
